h1 {
  font-family: Arial;
  color: #990000;
}

h2 {
  font-family: Arial;
  color: #FFFFFF;
  background-color: #990000;
}

h3 {
  font-family: Arial;
  color: #990000;
}

h4 {
  font-family: Arial;
  color: #FFFFFF;
  background-color: #990000;
}

p{
  color: #990000;
  font-family: Times;
  background-color: #ffffff;
}

li{
  list-style-type: none;
  color: #990000;
  font-family: Courier;
  background-color: #ffffff;
}
